<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Sudoku Game/src/rajeshwari/codes/SudokuGame/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="rajeshwari.codes.SudokuGame.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Sudoku Game"/>
</launchConfiguration>
